version: '3'

services:
  react-dev:
    build:
      dockerfile: react_frontend/Dockerfile
      context: .
    image: chengyu0316/myblog_v2_react
    volumes:
      - ./react_frontend:/app
      - mnt:/mnt:rw
    env_file:
      - dev.env
    ports:
      - "3000:8000"
      - "35729:35729"
  # A container that serves my react build
  nginx-server:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    image: chengyu0316/myblog_v2_nginx
    labels:
      - "traefik.frontend.rule=Host:localhost"
  # The reverse proxy service (Traefik)
  reverse-proxy:
    image: traefik  # The official Traefik docker image
    command: --api --docker  # Enables the web UI and tells Traefik to listen to docker
    ports:
      - "80:80"      # The HTTP port
      - "8080:8080"  # The Web UI (enabled by --api)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  # So that Traefik can listen to the Docker events


volumes:
   mnt:
