version: '2'

services:
  db:
    image: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "myblog"
      POSTGRES_PASSWORD: "password"
    ports:
      - "5432:5432"
  web:
    build: .
    image: chengyu0316/myblog_v2
    depends_on:
      - db
    command: ./wait-for-postgres.sh db python3 manage.py runserver 0.0.0.0:8000
    environment:
      DEBUG: "True"
      POSTGRES_USER: "myblog"
      POSTGRES_PASSWORD: "password"
    volumes:
      - ./myblog:/code
    ports:
      - "8000:8000"

volumes:
  pgdata:
